html {
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
  color: #000;
}

.font-ja {
  font-family: "Noto Sans Japanese", sans-serif;
}

nav a {
  color: #005e76;
  text-decoration: none;
  border-bottom: 2px #8bc9d9 solid;
}

nav a:hover {
  color: #005e76;
  border-bottom: 2px #e2e2e2 solid;
}

nav:hover {
  color: #005e76;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

.btn-ghost {
  border-color: #8bc9d9;
  color: #005e76;
  border-width: 2px;
}

.btn-ghost:hover {
  background-color: #8bc9d9;
  border-color: #0084a6;
  color: #005e76;
}

article p {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

footer {
  border-top: 2px solid #e2e2e2;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
